<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

<n-config-provider theme="darkTheme">
    <div id="app">
        <n-button>{{ message }}</n-button>
    </div>
</n-config-provider>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/naive-ui"></script>
<script>
    const app = Vue.createApp({
        setup() {
            return {
                message: 'naive'
            }
        }
    })
    app.use(naive)
    app.mount('#app')


    var ws = new WebSocket("ws://" + window.location.host + "/api/v2ray")
    ws.onopen = function () {
        ws.send({
            "type": "init"
        })
    }
    ws.onmessage = function () {

    }
    ws.onclose = function () {

    }
</script>

</body>
</html>